<!-- Appointments Cards -->
<div class="container mt-5 mb-5">
    <h3 class="text-center mb-4 fw-bold">Appointment History</h3>
    
    <div *ngIf="allAppointments.length > 0; else noAppointments">
      
      <form [formGroup]="appointmentStatusform" class="mb-4">
        <label for="appointmentStatus" class="form-label"><b>Filter Status</b></label>
        <select
        (change)="appointmentStatusFiltered(appointmentStatusform.get('appointmentStatus')?.value)"
        name="appointmentStatus"
        id="appointmentStatus"
        formControlName="appointmentStatus"
        class="form-select custom-dropdown"
        >
        <option value="" selected>All</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </form>
  
    
    <div class="row g-4">
      <div
          class="col-md-6 col-lg-4"
          *ngFor="let appointment of filterAppointments; let i = index"
        >
          <div class="card shadow-sm h-100 border-0 position-relative">
            <!-- Schedule Label -->
             @if (appointment.appointmentStatus === "Scheduled") {
  
               <span
               class="schedule-label position-absolute"
               >
               Scheduled
              </span>
            }@else {
  
              <span
              class="schedule-label-cancel position-absolute"
              >
              Cancelled
            </span>
          }
  
  
            <div class="card-body">
              <!-- Provider Name -->
              <h5 class="card-title fw-bold mb-3">
                {{ appointment.providerName | titlecase }} (PR)
              </h5>
              <!-- Details -->
              <p class="card-text mb-1">
                <strong>Specialisation:</strong> {{ appointment.specialisationName }}
              </p>
              <p class="card-text mb-1">
                <strong>Date:</strong> {{ appointment.appointmentDate }}
              </p>
              <p class="card-text mb-1">
                <strong>Time:</strong> {{ appointment.appointmentTime }}
              </p>
              <p class="card-text mb-1">
                <strong>Chief Complaint:</strong> {{ appointment.chiefComplaint }}
              </p>
              <p class="card-text text-success fw-bold">
                <strong>Fee:</strong> ₹{{ appointment.fee }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- No Appointments Available -->
    <ng-template #noAppointments>
      <div class="text-center text-muted py-4">
        <p>No appointments available.</p>
      </div>
    </ng-template>
  </div>