.schedule-label {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #e1f5fe;
    color: #0277bd; /* Optional: Darker text for better contrast */
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.25rem;
    z-index: 10;
  }

.schedule-label-cancel{
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #ffccbc;
    color: #d84315; /* Optional: Darker text for better contrast */
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.25rem;
    z-index: 10;
  }

  .schedule-label-complete {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #c8e6c9; /* Light green background */
    color: #2e7d32; /* Darker green text for better contrast */
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.25rem;
    z-index: 10;
}
  

  /* Styling for the dropdown */
.custom-dropdown {
    width: 7rem;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .custom-dropdown:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-dropdown option {
    background-color: #fff;
    color: #333;
  }
  
  /* Custom label styles */
  .form-label {
    font-size: 16px;
    color: #333;
  }
  
  /* Optional: If you want to style the select box when hovered or focused */
  .custom-dropdown:hover,
  .custom-dropdown:focus {
    border-color: #007bff;
  }
