<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Admin Profile</a>
          </li>
        </ul>
      </div>
      <div>
        <button class="btn btn-outline-danger mx-3" (click)="logout('manual')">Logout</button>
      </div>
    </div>
  </nav>



  <div class="video-container">
    <div class="video-box">
      <h3>Publisher</h3>
      <div id="publisherDiv" class="video-frame"></div>
    </div>
    <div class="video-box">
      <h3>Subscriber</h3>
      <div id="subscriberDiv" class="video-frame"></div>
    </div>
  </div>
  
  <div class="controls">
    <button (click)="startScreenShare()">Start Screen Share</button>
  </div>
  
  <div class="screen-share" style="text-align: center; width: 100%;">
    <h3>Screen Share</h3>
    <div id="screenDiv" class="video-frame"></div>
  </div>


