/* Remove blue border on input focus */
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #ccc;
}

/* Better spacing and padding */
.form-label {
  margin-bottom: 0.5rem;
}

/* textarea {
  resize: none;
} */

/* Submit Button Styling */
button[type="submit"] {
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
  transform: scale(1.02);
}

/* General container styling */
.container {
  background-color: #f8f9fa;
  border: 1px solid #eaeaea;
}

.appointment-container {
  margin-bottom: 3rem;
}

.app-heading{
    color: #007BFF;
}
