.navbar .dropdown img {
    border-radius: 50%;
    width: 40px; /* or any size you prefer */
    height: 40px;
    object-fit: cover; /* Prevents stretching and maintains aspect ratio */
  }
  .pointer{
    cursor: pointer;
  }
  .active:hover {
    color: #007BFF;
  }
  