.loginRegister{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.card {
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: #f8f9fa;
  }
  .btn.active {
    background-color: #007bff;
    color: white;
  }
  .text-danger {
    font-size: 0.9rem;
  }

  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .resend-otp{
    margin-top: 2rem;
  }

.resend-otp-btn{
    width: 9.5rem;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ::ng-deep .swal2-toast {
  position: relative;
} */

::ng-deep .close-btn {
  position: absolute;
  top: 10px; /* Adjust the top position */
  right: 10px;
  bottom: 18px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #aaa; /* Set the color to gray */
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block; /* Ensure it's always visible */
}

/* Hover effect for the close button */
::ng-deep .close-btn:hover {
  color: #000000; /* Change color on hover */
}