<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/profile">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="rounded-2 title mt-5 align-middle" style="color: whitesmoke; background-color: #77CDFF; height: 7rem">
      <h1 class="mt-2 ps-2" style="display: inline-block">Patient Form</h1>
      <p class="ps-2">Fill All Details</p>
    </div>
  
    <form class="mt-2 row g-3 needs-validation" novalidate [formGroup]="patientForm">
      <!-- First Name -->
      <div class="col-md-4">
        <label for="firstName" class="form-label">First Name</label>
        <input formControlName="firstName" name="firstName" type="text" class="form-control" id="firstName" required minlength="3" />
        <div class="text-danger" *ngIf="patientForm.controls['firstName'].touched || patientForm.controls['firstName'].dirty">
          <span *ngIf="patientForm.controls['firstName'].errors?.['required']">This is required</span>
          <span *ngIf="patientForm.controls['firstName'].errors?.['minlength']">Min 3 characters required</span>
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>
  
      <!-- Last Name -->
      <div class="col-md-4">
        <label for="lastName" class="form-label">Last Name</label>
        <input formControlName="lastName" name="lastName" type="text" class="form-control" id="lastName" />
      </div>
  
      <!-- Age -->
      <div class="col-md-4">
        <label for="age" class="form-label">Age</label>
        <input formControlName="age" name="age" type="number" class="form-control" id="age" min="1" max="130" />
        <div class="invalid-feedback">Please provide a valid age between 1 and 130.</div>
      </div>
  
      <!-- Email -->
      <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" name="email" type="email" class="form-control" id="email" />
        <div class="text-danger" *ngIf="patientForm.controls['email'].touched || patientForm.controls['email'].dirty">
          <span *ngIf="patientForm.controls['email'].errors?.['email']">Email not valid</span>
        </div>
      </div>
  
      <!-- Phone Number -->
      <div class="col-md-4">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input formControlName="phoneNumber" name="phoneNumber" type="text" class="form-control" id="phoneNumber" />
      </div>
  
      <!-- Address -->
      <div class="col-md-4">
        <label for="address" class="form-label">Address</label>
        <input formControlName="address" name="address" type="text" class="form-control" id="address" />
      </div>
  
      <!-- City -->
      <div class="col-md-3">
        <label for="city" class="form-label">City</label>
        <input formControlName="city" name="city" type="text" class="form-control" id="city" />
      </div>
  
      <!-- Country -->
      <div class="col-md-3">
        <label for="country" class="form-label">Country</label>
        <select (change)="onChange(patientForm.value.country)" formControlName="country" name="country" class="form-select" id="country">
          <option selected>Select a country</option>
          <option *ngFor="let country of allCountry" [value]="country.countryId">{{ country.name }}</option>
        </select>
      </div>


      <!-- State -->
      <div class="col-md-3">
        <label for="state" class="form-label">State</label>
        <select formControlName="state" name="state" class="form-select" id="state">
          <option selected>Select a state</option>
          <option *ngFor="let state of allStateByCountryId" [value]="state.stateId">{{ state.name }}</option>
        </select>
      </div>
  
  
      <!-- Postal Code -->
      <div class="col-md-3">
        <label for="postalCode" class="form-label">Postal Code</label>
        <input formControlName="postalCode" name="postalCode" type="text" class="form-control" id="postalCode" />
      </div>
  
      <!-- Gender -->
      <div class="col-md-3">
        <label for="gender" class="form-label">Gender</label>
        <input formControlName="gender" name="gender" type="text" class="form-control" id="gender" />
      </div>
  
      <!-- Blood Type -->
      <div class="col-md-3">
        <label for="bloodType" class="form-label">Blood Type</label>
        <input formControlName="bloodType" name="bloodType" type="text" class="form-control" id="bloodType" />
      </div>
  
      <!-- Medications -->
      <div class="col-md-3">
        <label for="medications" class="form-label">Medications</label>
        <input formControlName="medications" name="medications" type="text" class="form-control" id="medications" />
      </div>
  
      <!-- Last Visit Date -->
      <div class="col-md-3">
        <label for="lastVisitDate" class="form-label">Last Visit Date</label>
        <input formControlName="lastVisitDate" name="lastVisitDate" type="datetime-local" class="form-control" id="lastVisitDate" />
      </div>
  
      <!-- Next Appointment Date -->
      <div class="col-md-3">
        <label for="nextAppointmentDate" class="form-label">Next Appointment Date</label>
        <input formControlName="nextAppointmentDate" name="nextAppointmentDate" type="datetime-local" class="form-control" id="nextAppointmentDate" />
      </div>
  
      <!-- Insurance Provider -->
      <div class="col-md-3">
        <label for="insuranceProvider" class="form-label">Insurance Provider</label>
        <input formControlName="insuranceProvider" name="insuranceProvider" type="text" class="form-control" id="insuranceProvider" />
      </div>
  
      <!-- Insurance Policy Number -->
      <div class="col-md-3">
        <label for="insurancePolicyNumber" class="form-label">Insurance Policy Number</label>
        <input formControlName="insurancePolicyNumber" name="insurancePolicyNumber" type="number" class="form-control" id="insurancePolicyNumber" />
      </div>
  
      <!-- Agree to Terms -->
      <div class="col-md-3 mt-5">
        <label for="hasAgreeToTerms" class="form-label">Agree to Terms</label>
        <input formControlName="hasAgreeToTerms" name="hasAgreeToTerms" type="checkbox" class="ms-2 form-check-input" id="hasAgreeToTerms" />
      </div>
  
      <!-- Is Patient Active -->
      <div class="col-md-3 mt-5">
        <label for="isPatientActive" class="form-label">Is Patient Active</label>
        <input formControlName="isPatientActive" name="isPatientActive" type="checkbox" class="ms-2 form-check-input" id="isPatientActive" />
      </div>
  
      <!-- Action Buttons -->
      <div class="col-12 d-flex gap-3">
        <button class="btn btn-primary" type="button" (click)="resetForm()">
          Reset form
        </button>
  
        <button *ngIf="!updatedMode" class="btn btn-primary" type="submit" [disabled]="patientForm.invalid" (click)="onSubmit()">
          Submit form
        </button>
  
        <button *ngIf="updatedMode" class="btn btn-primary" type="submit" [disabled]="patientForm.invalid" (click)="onUpdate()">
          Update form
        </button>
      </div>
    </form>
  
    <hr class="mt-4" />
  
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Patient Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Gender</th>
              <th>Next Appointment Date</th>
              <th>Insurance Policy Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allPatient; let srNumber = index">
              <td>{{ srNumber + 1 }}</td>
              <td>{{ item.patientId }}</td>
              <td>{{ item.firstName }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.age }}</td>
              <td>{{ getCountryName(item.country) }}</td>
              <td>{{ getStateName(item.state) }}</td>
              <td>{{ item.city }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.nextAppointmentDate | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.insurancePolicyNumber }}</td>
              <td class="d-flex">
                <button class="btn btn-primary me-2" (click)="updatePatient(item)">Update</button>
                <button class="btn btn-warning" (click)="onDelete(item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  


