<div class="d-flex align-items-center justify-content-center mt-4">
  <button class="btn btn-primary d-flex align-items-center" routerLink="/appointment">
    <span class="me-2 d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
        <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"></path>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"></path>
      </svg>
    </span>
    Book Appointment
  </button>
</div>



<!-- Appointments Cards -->
<div class="container mt-5 mb-5">
  <h3 class="text-center mb-4 fw-bold">Appointments</h3>
  
  
  <div *ngIf="filterAppointments.length > 0; else noAppointments">
      <div class="row g-4">
        <div
          class="col-md-6 col-lg-4"
          *ngFor="let appointment of filterAppointments; let i = index"
        >
          <div class="card shadow-sm h-100 border-0">
              <span
              class="schedule-label position-absolute"
              >
              Scheduled
             </span>

 
            <div class="card-body">
              <!-- Provider Name -->
              <h5 class="card-title fw-bold mb-3">
                {{ appointment.patientName | titlecase }} (PT)
              </h5>

              <p class="card-text mb-1">
                <strong>Date:</strong> {{ appointment.appointmentDate }}
              </p>
              <p class="card-text mb-1">
                <strong>Time:</strong> {{ appointment.appointmentTime }}
              </p>
              <p class="card-text mb-1">
                <strong>Chief Complaint:</strong> {{ appointment.chiefComplaint }}
              </p>
              <p class="card-text text-success fw-bold">
                <strong>Fee:</strong> ₹{{ appointment.fee }}
              </p>
            </div>
            <div class="card-footer bg-white border-0 d-flex justify-content-end">

              <button
              class="btn btn-sm btn-primary fw-semibold me-2"
              [routerLink]="['/complete-appointment', appointment.id]"
            >
              Go To Appointment
            </button>
              <!-- Cancel Button -->
              <button
                class="btn btn-sm btn-danger fw-semibold"
                (click)="confirmDeletion(appointment)"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- No Appointments Available -->
    <ng-template #noAppointments>
      <div class="text-center text-muted py-4">
        <p>No schedule appointments available.</p>
      </div>
    </ng-template>
  </div>
