.loginRegister{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.card {
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    background-color: #f8f9fa; /* Light background color */
  }
  .btn.active {
    background-color: #007bff; /* Primary color */
    color: white;
  }
  .text-danger {
    font-size: 0.9rem;
  }

  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .resend-otp{
    margin-top: 2rem;
  }

.resend-otp-btn{
    width: 9.5rem;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
