<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 400px;">
      <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="getAgentDetails()">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" placeholder="Old Password" required>
          </div>



          <!-- <div class="mb-3">
            <label for="registerPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="registerPassword" formControlName="password" [(ngModel)]="newPassword" placeholder="Password" required>
            <div
              *ngIf="
                changePasswordForm.get('newPassword')?.invalid &&
                changePasswordForm.get('newPassword')?.touched
              "
              class="text-danger"
            >
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">This is required</span>
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']">Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character</span>
            </div>
          </div> -->



          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword" placeholder="New Password" required>
            <div
              *ngIf="
                changePasswordForm.get('newPassword')?.invalid &&
                changePasswordForm.get('newPassword')?.touched
              "
              class="text-danger"
            >
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">This is required</span>
            <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']">Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" [(ngModel)]="confirmNewPassword" placeholder="Confirm New Password" required>
            <div *ngIf="newPassword !== confirmNewPassword && confirmNewPassword" class="text-danger">
              Passwords must match
            </div>
          </div>
          <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary w-100" style="height: 50px;">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  