/* Global styles for the profile page */
.container {
    background-color: #f8f9fa; /* Light background */
    padding: 30px 0;
  }
  
  .card {
    border-radius: 15px; /* Rounded corners for the card */
    background-color: #ffffff;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
  }
  
  label {
    font-weight: 600;
    color: #495057; /* Slightly darker color for labels */
  }
  
  p {
    font-size: 1.2rem;
    color: #495057; /* Use a dark gray color for text */
  }
  
  .fs-5 {
    font-size: 1.2rem; /* Increase the size of the paragraph text for better readability */
  }
  
  /* Optional: Add hover effect to the card */
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .col-form-label {
    text-align: right; /* Align label text to the right */
  }
  